<!DOCTYPE html>
<html>
<head>
  <title>ForumPreviewer</title>
  <%= stylesheet_link_tag 'links' %>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-1.4.2.js', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
